<div class="modal"  [class.is-active]="modalOpen" >
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <form [formGroup]="habitForm">
      <section class="modal-card-body">
        <input formControlName="habit" type="text" name="" id="">
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" (click)="saveHabit()">Save changes</button>
        <button class="button"(click)="closeModal()" >Cancel</button>
      </footer>
    </form>
  </div>
</div>